# Except this file
!.gitignore

# Editor / IDE
.vscode/
verifiable-controllers.code-workspace

# Cargo build artifacts
/target
e2e/target/
**/*.rlib
*.d

# Verus logs / large diagnostic dumps
src/.verus-log/
src/.verus-solver-log/
src/*.long-type-*.txt
vreplicaset_controller.*.txt
vstatefulset_controller.*.txt

# Other
tools/*.json
certs
