# Except this file
!.gitignore
.vscode/
src/*_controller
src/*.long-type-*.txt
src/.verus-log/
e2e/target/
/target
/Cargo.lock
src/liblib.rlib
verifiable-controllers.code-workspace
src/.verus-solver-log/
src/*.d
src/*.rlib
tools/*.json
v2_vreplicaset_controller.*.txt
