name: Continuous integration
run-name: Regression tests run by ${{ github.actor }}
on:
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
      - ".gitignore"
      - "doc/**"
  pull_request:
  workflow_dispatch:
jobs:
  verification:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Download Verus
        uses: actions/checkout@v2
        with:
          repository: verus-lang/verus
          path: ../verus
      - name: Install Rust toolchain
        run: |
          curl --proto '=https' --tlsv1.2 --retry 10 --retry-connrefused -fsSL "https://sh.rustup.rs" | sh -s -- --default-toolchain none -y
      - name: Build Verus
        run: |
          cd ../verus/source
          ./tools/get-z3.sh
          source ../tools/activate
          vargo build --release
      - name: Set VERUS_DIR
        run: VERUS_DIR="$(dirname "${PWD}")/verus"
      - name: Build fluent controller
        run: ./build.sh fluent_controller.rs --rlimit 30 --time
      - name: Build rabbitmq controller
        run: ./build.sh rabbitmq_controller.rs --rlimit 30 --time
      - name: Build simple controller
        run: ./build.sh simple_controller.rs --rlimit 30 --time
      - name: Build zookeeper controller
        run: ./build.sh zookeeper_controller.rs --rlimit 30 --time
  unit-tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Download Verus
        uses: actions/checkout@v2
        with:
          repository: verus-lang/verus
          path: ../verus
      - name: Install Rust toolchain
        run: |
          curl --proto '=https' --tlsv1.2 --retry 10 --retry-connrefused -fsSL "https://sh.rustup.rs" | sh -s -- --default-toolchain none -y
      - name: Build Verus
        run: |
          cd ../verus/source
          ./tools/get-z3.sh
          source ../tools/activate
          vargo build --release
      - name: Run unit tests
        run: cargo test
  rabbitmq-e2e-test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: "^1.20"
      - name: Install kind
        run: go install sigs.k8s.io/kind@v0.20.0
      - name: Install Rust toolchain
        run: |
          curl --proto '=https' --tlsv1.2 --retry 10 --retry-connrefused -fsSL "https://sh.rustup.rs" | sh -s -- --default-toolchain none -y
      - name: Deploy rabbitmq controller
        run: ./local-test.sh rabbitmq
      - name: Run rabbitmq e2e tests
        run: cd e2e && cargo run -- rabbitmq
  zookeeper-e2e-test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: "^1.20"
      - name: Install kind
        run: go install sigs.k8s.io/kind@v0.20.0
      - name: Install Rust toolchain
        run: |
          curl --proto '=https' --tlsv1.2 --retry 10 --retry-connrefused -fsSL "https://sh.rustup.rs" | sh -s -- --default-toolchain none -y
      - name: Deploy zookeeper controller
        run: ./local-test.sh zookeeper
      - name: Run zookeeper e2e tests
        run: cd e2e && cargo run -- zookeeper
